@import 'variables';
@import 'mixins';

.footer {
  @include display-flex(space-between, center, row);

  padding-inline: 30px;
  color: var(--clr-500);
  font-family: Poppins-medium, sans-serif;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .clear-completed {
    @include display-flex(center, center, row);

    height: 100%;
    user-select: none;
    cursor: pointer;
    transition: $default-transition;
  }

  .filter-list {
    @include display-flex(center, center, row);

    list-style-type: none;
    height: 100%;

    .filter {
      @include display-flex(center, center, row);

      user-select: none;
      height: 100%;
      cursor: pointer;
      padding-inline: 5px;
      margin-inline: 7px;
      transition: $default-transition;

      &.active {
        color: var(--clr-bright-blue) !important;
      }
    }
  }

  .clear-completed:hover,
  .filter-list .filter:hover {
    color: var(--clr-600);
  }
}
