{
  "plugins": ["stylelint-scss", "stylelint-color-format"],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "property-no-vendor-prefix": null,
    "comment-no-empty": null,
    "color-no-invalid-hex": true,
    "color-function-notation": "legacy",
    "string-quotes": "single",
    "declaration-colon-newline-after": null,
    "max-line-length": null,
    "font-family-name-quotes": "always-where-recommended",
    "color-format/format": {
      "format": "hsla"
    }
  }
}
