@import 'variables';

%no-content {
  position: absolute;
  content: '';
}

%container {
  max-width: 600px;
  margin-inline: auto;
  padding: 10px;
}

%input {
  position: relative;
  outline: none;
  border: none;
  background: none;
  transition: $default-transition;
}
