@import 'variables';
@import 'mixins';

.checkbox-container {
  position: relative;
  height: 30px;
  min-width: 30px;
  margin-right: 20px;
  transition: $default-transition;

  @include pseudo-element(
    $element: before,
    $el-height: 90%,
    $el-width: 90%,
    $isCentered: true,
    $el-background: var(--clr-300)
  ) {
    border-radius: 50%;
    pointer-events: none;
  }

  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    background: var(--clr-background);
    background-size: 350%;
    background-position: right;
    border: 1px solid var(--clr-400);
    transition: $default-transition;
  }

  .check-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    stroke-width: 3px;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &.completed {
    &::before {
      @include element-invisible;
    }

    .checkbox {
      background-position: left;
      border: unset;
    }
  }

  &:hover {
    filter: opacity(0.8);

    .checkbox {
      background-position: left;
      border: unset;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
