$palette-colors: (
  bright-blue: hsl(220deg, 98%, 61%),
  background:
    linear-gradient(
      120deg,
      hsl(192deg, 100%, 67%),
      hsl(280deg, 87%, 65%),
      transparent,
      transparent
    )
);
$light-theme-colors: (
  200: hsl(0deg, 0%, 98%),
  300: hsl(236deg, 33%, 92%),
  400: hsl(233deg, 11%, 84%),
  500: hsl(236deg, 9%, 61%),
  600: hsl(235deg, 19%, 35%),
  700: hsl(240deg, 17%, 13%)
);
