@import 'helpers';

.input-container {
  margin-bottom: 20px;
  border-radius: $border-radius;
  filter: drop-shadow(0 40px 20px hsla(0deg, 0%, 0%, 30%));

  .input-field {
    @extend %input;

    height: 100%;
    width: 100%;
    cursor: text;
    font-size: 1.035rem;
    color: var(--clr-700);

    &::placeholder {
      color: var(--clr-400);
      user-select: none;
      transition: $default-transition;
    }
  }
}
