@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.todo-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.todos-container .todo:nth-child(2) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todos-container .todo:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.windowbar-icon {
  @apply text-light-default hover:bg-light-hard-grayish-light-blue hover:bg-opacity-30 dark:hover:bg-dark-hard-desaturated-dark-blue;

  height: 100%;
  width: 50px;
  cursor: pointer;
  padding-inline: 16px;
}
